@{
    ViewData["Title"] = "Authetification";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the authentification page</h1>
    <p>Dans ce projet, on créera un formulaire d'authentification de personne à une base de données SQL.</p>
</div>
