@{
    ViewData["Title"] = "Authentification Menu";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the projet</h1>
    <p>Dans ce projet, on créera un formulaire d'authentification de personnes à une base de données SQL.</p>
</div>
